<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

    <title>Sunplot</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>
                Sunplot
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Help
                </button>
            </h1>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">About Sunplot</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Plot the sun's position for a given location.</p>
                        </div>
                        <div class="modal-footer">
                            <p>Designed by Anoush Khan and Dan Strauss.</p>
                            <p>Check out this website on GitHub here:</p>
                            <p>And, check out the Python module driving this here:</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div id="mapid" style="height: 500px" class="mb-3"></div>
            </div>
            <div class="col-sm">
                <form action="/generate" method="get" id="param_form">
                    <!-- year -->
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="input_year" placeholder="2021" value="2021"
                            name="year">
                        <label for="input_year">Year</label>
                    </div>

                    <!-- location -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">Latitude</span>
                        <input type="text" aria-label="Latitude" class="form-control" name="lat" id="imput_lat">
                        <span class="input-group-text">Longitude</span>
                        <input type="text" aria-label="Longitude" class="form-control" name="lon" id="imput_lon">
                    </div>

                    <!-- image dimensions -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">Width</span>
                        <input type="number" aria-label="Width" class="form-control" value="1920" name="width"
                            id="input_width">
                        <span class="input-group-text">Height</span>
                        <input type="number" aria-label="Height" class="form-control" value="1080" name="height"
                            id="input_height">
                    </div>

                    <!-- daylight savings -->
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="input_dst" name="dst" checked>
                        <label class="form-check-label" for="exampleCheck1">Consider Daylight Savings</label>
                    </div>

                    <!-- sunrise jump -->
                    <div class="input-group mb-3">
                        <label for="range_sunrise_jump" class="form-label" id="input_sunrise_jump_label">Sunrise
                            Jump: 0.3</label>
                        <input type="range" class="form-range" min="0" max="1" step="0.1" id="input_sunrise_jump"
                            value="0.3" name="sunrise_jump" oninput="slider_val('input_sunrise_jump_label', this.value)"
                            onchange="slider_val('input_sunrise_jump_label', this.value)">
                    </div>

                    <!-- hue shift -->
                    <div class="input-group mb-3">
                        <label for="range_hue_shift" class="form-label" id="input_hue_shift_label">Hue Shift: 0</label>
                        <input type="range" class="form-range" min="0" max="1" step="0.1" id="input_hue_shift"
                            value="0.0" name="hue_shift" oninput="slider_val('input_hue_shift_label', this.value)"
                            onchange="slider_val('input_hue_shift_label', this.value)">
                    </div>

                    <!-- generate button -->
                    <button type="submit" class="btn btn-success mb-3" id="generate_btn">
                        Generate
                        <div class="spinner-border spinner-border-sm" role="status" hidden id="progress_spinner">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </button>

                    <!-- progress spinner -->

                </form>
            </div>
        </div>
        <div class="row">
            <p id="response_img_title" class="mb-3" style="visibility: hidden;">Generated Image:</p>
            <img src="..." class="img-fluid mb-3" alt="..." id="response_img" style="visibility: hidden;">
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

    <script>
        var map = L.map('mapid').setView([42, -71], 5);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var marker;

        map.on('click', function (e) {
            // get lat, lon of click
            lat = e.latlng.lat;
            lon = e.latlng.lng;

            // delete previous marker layer if it exists
            if (map.hasLayer(marker)) {
                map.removeLayer(marker);
            };

            // add marker to map
            marker = L.marker([lat, lon]).addTo(map);

            // send lat, lon to form
            document.getElementById("imput_lon").value = lon;
            document.getElementById("imput_lat").value = lat;
            // console.log("Lat, Lon : " + e.latlng.lat + ", " + e.latlng.lng)
        });

        function slider_val(slider_id, val) {
            if (slider_id == 'input_sunrise_jump_label') {
                header = "Sunrise Jump: " + val;
            } else if (slider_id == 'input_hue_shift_label') {
                header = "Hue Shift: " + val;
            }
            document.getElementById(slider_id).innerHTML = header;
        };

        // intercept and handle form submission manually
        // var glob;
        const form = document.querySelector('form');
        // const XHR = new XMLHttpRequest();
        form.addEventListener('submit', event => {
            // submit event detected
            // prevent default action
            event.preventDefault()
            console.log('caught');
            document.getElementById("progress_spinner").hidden = false;
            document.getElementById('generate_btn').disabled = true;

            // get form data manually
            year = document.getElementById("input_year").value;
            lon = document.getElementById("imput_lon").value;
            lat = document.getElementById("imput_lat").value;
            width = document.getElementById("input_width").value;
            height = document.getElementById("input_height").value;
            use_dst = document.getElementById("input_dst").checked;
            sunrise_jump = document.getElementById("input_sunrise_jump").value;
            hue_shift = document.getElementById("input_hue_shift").value;

            // build GET request URL
            url = "/generate" + "?" +
                "year=" + year +
                "&lon=" + lon +
                "&lat=" + lat +
                "&width=" + width +
                "&height=" + height +
                "&use_dst=" + use_dst +
                "&sunrise_jump=" + sunrise_jump +
                "&hue_shift=" + hue_shift

            // hit api
            fetch(url)
                .then(response => response.blob())
                .then(image => {
                    var urlCreator = window.URL || window.webkitURL;
                    var imageUrl = urlCreator.createObjectURL(image);

                    document.querySelector("#response_img").src = imageUrl;
                    document.getElementById("response_img_title").style.visibility = "visible";
                    document.getElementById("response_img").style.visibility = "visible";
                    document.getElementById("response_img").scrollIntoView();
                    document.getElementById("progress_spinner").hidden = true;
                    document.getElementById('generate_btn').disabled = false;
                });
        });
    </script>

</body>

</html>